.input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    z-index: 2;
}

.input:focus {
    border-bottom: 1px solid #6a6afa;
    transition: all 0.3s;
}

.block {
    position: relative;
    width: 200px;
}

.label {
    position: absolute;
    font-size: 15px;
    top: 1px;
    color: #424242;
    left: -1px;
    z-index: -1;
    transition: all 0.3s;
}

.input:focus ~ .label, .focused {
    top: -16px;
    font-size: 12px;
    transition: all 0.3s;
}